

body, html {
	/*height: 100%;*/
	margin: 0;
}

#wrapper {
	width: 100%;
}
/*************
CONTACT PAGE
**************/

.contact {
	display: flex;
	margin: auto;
	width: 90%;
	border: 1px solid black;
	justify-content: center;
	flex-direction: row;
	background-color: rgba(255, 255, 255, 0.6);
}

.containerone {
	width: 60%;
	display: flex;
	flex-direction: column;
	margin-bottom: 25px
}




/********************
Nav Bar Styling
********************/

.background {
	background-image: url("/images/downtown.jpg");
	height: 100vh;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/*    display: flex;*/
	align-items: top;
	justify-content: center;
}

.navigation {
	display: flex;
	width: 100%;
	height: 6em;
}

.navigation a {
	width: 25%;
	text-align: center;
	padding: 2em 0;
	font-weight: bold;
	font-size: 1.25em;
	text-decoration: none;
	color: rgb(200, 200, 200);
	background-color: rgba(20, 20, 20, 0.5);
}

.navigation a:hover {
	background-color: rgba(255, 255, 255, 0.8);
	color: rgb(20, 20, 20);
	font-size: 1.75em;
	transition-duration: .1s;
	padding-bottom: 3em;
}

/********************
Nav Bar Styling End
********************/


/********************
Intro Page Styling
********************/

#background {
	background-image: url("/images/downtown.jpg");
	height: 100vh;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
	align-items: center;
	justify-content: center;
    /*padding: 20em 15em 1em;*/
}


#introNav {
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	padding: 2em 5em;
	border-radius: 15px;

}

#introNav a {
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
	color: black;
}


/********************
Intro Page Styling End
********************/

.containerone h1, .containerone form, {
	margin-left: 25px;
}

.containerone h1, .containerone h4, .containerone p {
	margin-left: 25px;
}

.containertwo {
	width: 40%;
	display: flex;
	margin-right: 55px;
}

.containertwo aside {
	margin-left: 100px;
}

.form {
	border: solid 1px black;
	padding: 25px;
}

.text {
	padding: 10px;
	margin: 10px;
	box-shadow: 4px 4px #d0d6e0;
	width: 70%;
}

.submit {
	background-color: #d0d6e0;
	width: 45%;
	padding: 10px;
	margin: 10px;
	font-size: 1.2em;
	font-style: italic;
}

/*************
Intro Page Styling End
**************/

/*************
Intro about styling
**************/
.mayorPics {
	position: block;
	margin: 2.5em;
}

.mayorPics {
	background-color: rgb(240, 248, 255);
	opacity: 50%;
}

.mayor {
	float: right;
}




/***********************
Places Page Styling
***********************/


.spots {
	border: solid 1px black;
	display: inline-flex;
	box-shadow: 10px 15px 50px grey;
	padding: 1em;
	margin: 10% 2% 0;
	width: 25%;
	height: 20em;
}

.locale-name {

}

.locale-description {

}

.locale-price {

}


/***********************
Places Page Styling End
***********************/




/* ---- About page styling ---- */
/* ---------------------------- */


